@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  background-color: black;
  color: white;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(136 19 55 / 1);
  border-radius: 0.75rem;
}
